<div class="profile-container" *ngIf="user">
  <h2>Welcome, {{ user.displayName || 'Anonymous' }}</h2>
  <p>Email: {{ user.email }}</p>

  <h3>Your Posts</h3>
  <div *ngIf="userPosts.length; else noPosts">
    <app-post-card
      *ngFor="let post of userPosts"
      [post]="post"
      (delete)="deletePost($event)"
     (toggleFavorite)="onToggleFavorite(post.id)"
    >
      
    </app-post-card>
  </div>

  <h3>Your Favorites</h3>
  <div *ngIf="favoritePosts.length > 0; else noFavorites">
    <app-post-card
      *ngFor="let post of favoritePosts"
      [post]="post"
      (toggleFavorite)="onToggleFavorite(post.id)"
      >
    </app-post-card>
  </div>

<ng-template #noFavorites>
  <p>You haven’t favorited any posts yet.</p>
</ng-template>


  <ng-template #noPosts>
    <p>You haven’t posted anything yet.</p>
  </ng-template>
</div>


<div *ngIf="user; else loading">
  <!-- ... existing content ... -->
</div>



<ng-template #noFavorites>
  <p>You haven’t favorited any posts yet.</p>
</ng-template>

<ng-template #loading>
  <p>Loading profile...</p>
</ng-template>